
/*  
PROPOSITION OF UI FOR "vite ma dose !"
Figma moodboard file is available at the following url:
https://www.figma.com/file/Nn3e9QM2CSNEwrY4pUgtMY/Vite-ma-dose?node-id=0%3A1
default font used: Roboto

*/
body { 
    background-color: #F2F2F2; 
    box-sizing: border-box; 
    display:block;
    font-family: Roboto; 
    font-style: normal; 
    
    margin: 0px; 
    padding: 0px; 
    padding-top:0px; 
}

.wrapper { 
    background-color: #F2F2F2; 
    display:block; 
    padding-bottom:4rem;

    height:100%;
    width:100%;
}

/* ---- PAGE ELEMENTS BEGIN HERE ---- */

h2, h3, h4, h5, h6 {
    color: #44516B;;
}

h3 {
    margin-top: 3rem;
    font-size:larger;
}


/* ---- SELECT FORM ---- */

.dpt-select {
    background: #FFFFFF;
    border: 3px solid #629CEA;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0px 5px 3px rgba(173, 173, 173, 0.25);
    display: block;
    color: #44516B;
    font-size:1.3rem;
    font-weight: 500;
    margin: 1.6rem auto 2.1rem auto;
    padding: 1rem 0.5rem 1rem;
    width:299px;

    /* select arrow-down customization */
    background: url(./arrow-down-circle.svg) no-repeat right #FFFFFF;
    -webkit-appearance: none;
    background-position-x: 256px;
}

.dpt-select:hover, .dpt-select option {
    cursor:pointer;
}

/* ---- SELECTED DPT TITLE & INFO ---- */

.dpt-selected {
    color: #44516B;
    font-size: 1.875rem;
    margin-bottom: 1rem;
    text-align: center;
}

.last-update-info {
    color: #636363;
    display: block;
    text-align: center;
}

.last-update-info span { 
    color:#44516B; 
    font-weight: 600; 
}


/* ---- SECTION: RESULTS (GOOD or BAD) ---- */

.results {
    display:flex;
    flex-direction:column;
    align-items: center;
}


/* ---- VACCINATION CARD ---- 
*  Those properties are applying in priority on the small-width screens.
*  There is a media query later on for screens wider than 767px
*/

.linking-container /* link is all over the card, prevent the underline on all text inside the card */
{ text-decoration: none;}

.card {
    background-color: white; 
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(44, 44, 44, 0.17);
    display:block;
    margin:1rem;
    padding: 1rem;
    width:290px;
    text-decoration: none;
    transition-duration: 280ms;
}

.card:hover {
    box-shadow: 0px 6px 5px rgba(201, 205, 211, 0.719);
    cursor:pointer;
}

.card__info {
    margin: 0.5rem 0px 0.5rem 0px;
    text-align: center;
}

.card__date {
    font-weight:700;
    color: #113669;
    font-size: 1.18rem;
}

.card__location {
    color:rgb(39, 39, 39);
}

.card__booking-area {
    display:grid;
    place-content: center;
    margin-top:1rem;
}

.card__btn {
    background: #2F80ED;
    border:none;
    border-radius: 5px;
    outline:none;

    color:white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;

    margin:0.4rem;
    padding: 0.6rem 0.8rem 0.6rem;
    width:auto;

    transition-duration: 270ms;
}

.card__btn:hover {
    background: #1c6ad1;
    cursor:pointer;
}

.card__booking-engine {
    color:#328bff;
    font-size: 0.88rem;
    margin:0px;
    text-align: center;
}

.card__booking-engine:hover {
    color: #14488E;
}



@media only screen and (min-width: 767px)
{

    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        min-width: 760px;
        box-shadow: 0px 1px 1px rgba(44, 44, 44, 0.17);
    }

    .card__info-area {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .card__info {
        text-align: left;
    }

    .card__booking-area {
        display:flex;
        flex-direction: column;
    }

    .active-btn {
        display:block;
        background: #2F80ED;
        border-radius: 5px;
        box-shadow: 0px 5px 0px #14488E;

        color:white;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        padding: 0.8rem 2rem 0.8rem;
        margin-bottom:1rem;

        transition-duration: 270ms;
    }

    .card__btn:active {
        box-shadow: 0px 2px 0px #14488E;
    }

}


/*---- VACCINATION CENTERS WITH NO KNOWN AVAILABILITIES ----*/

.inactive-center {
    background: #dddddd;
    border:1px solid rgba(0, 0, 0, 0);
    box-shadow: none;

    transition-duration: 250ms;
}

.inactive-btn {
    background-color: #5F6D88;

    margin-bottom:1rem;
    min-width: 220px;
    padding: 0.8rem 2rem 0.8rem;

    transition-duration: 270ms;
}

.inactive-btn:hover {
    background-color: #44516B;
}

.inactive-color{
    color: #5F6D88;
}

.inactive-color:hover {
    color: #44516B;
}
